body {
  font-family: Arial, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

a {
  display: block;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: none;
  color: rgb(84, 129, 163);
}

main {
  font-size: 24px;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 100px;
}

h3 {
  color: grey;
  font-size: 28px;
}
h2 {
  text-align: center;
  font-size: 64px;
}

header img {
  width: 100%;
  border-radius: 20px;
}

nav {
  margin-top: 50px;
  margin-left: 50px;
  float: left;
  padding: 20px;
  border: 6px solid rgb(84, 129, 163);
  border-radius: 20px;
}

nav a:hover {
  color: black;
}

header {
  font-size: 32px;
  color: rgb(84, 129, 163);
}

.wrapper {
  float: right;
  width: 80%;
  margin-top: 50px;
  margin-right: 50px;
}

.bookish {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
}

.bookish figcaption {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
.bookish img {
  width: 100%;
  height: 90%;
}

footer {
  margin-top: 50px;
  text-align: center;
}
