body {
  font-family: Arial, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
a {
  display: block;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

nav {
  margin-top: 50px;
  margin-left: 50px;
  float: left;

  /* je veux le king bag*/
}

header {
  font-size: 32px;
  color: rgb(84, 129, 163);
}

main {
  font-size: 28px;
}

.wrapper {
  float: right;
  width: 80%;
}

.footer {
}
