body {
  font-family: Arial, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

a {
  display: block;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: none;
  color: rgb(84, 129, 163);
}

main {
  font-size: 24px;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 100px;
}

h3 {
  color: grey;
  font-size: 28px;
}
h2 {
  text-align: center;
  font-size: 64px;
}

header img {
  width: 100%;
  border-radius: 20px;
}

nav {
  margin-top: 50px;
  margin-left: 50px;
  float: left;
  padding: 20px;
  border: 6px solid rgb(84, 129, 163);
  border-radius: 20px;
}

nav a:hover {
  color: black;
}

header {
  font-size: 32px;
  color: rgb(84, 129, 163);
}

.wrapper {
  float: right;
  width: 80%;
  margin-top: 50px;
  margin-right: 50px;
}

.bookish {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(203, 211, 218);
  border-radius: 60px;
  padding: 20px;
}

.bookish figcaption {
  font-size: 24px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: rgb(84, 129, 163);
  padding: 10px;
}
.bookish img {
  width: 100%;
  height: 90%;
}

footer {
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 480px) {
  nav {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  header img {
    margin-top: 20px;
  }
  .bookish {
    display: grid;
    grid-template-columns: auto auto;
  }

  .bookish img {
    width: 110%;
    height: 70%;
    margin-right: 40px;
  }

  .bookish figcaption {
    font-size: 16px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: rgb(84, 129, 163);
  }
  .wrapper {
    float: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    color: rgb(84, 129, 163);
    text-align: center;
  }

  p {
    color: black;
    font-weight: 700;
  }
  nav a {
    color: rgb(84, 129, 163);
    margin-top: 20px;
    font-size: 42px;
    font-weight: 1000;
  }
}
